# ignore compiled binaries
*
!/**/
!*.*

# allow makefile
!/**/Makefile

# output text files
*.txt
*.dat

# visual studio code files
.vscode/*

# test codes
test/

# output files
*.out
*.mvi

# CLion files
.idea/*
/cmake-build-debug/
CMakeLists.txt
